.pop-up {
  position: absolute;
  border: 4px solid;
  border-radius: 12px;
  color: transparent;
  background-color: white;
  top: 8px;
  left: 37.5%;
  padding: 12px 24px;
  width: max-content;
  max-width: 22ch;
  font-size: 1.25rem;
  text-align: center;
  transform: translateY(-200%);
}

@keyframes popDown {
  0% {
    transform: translateY(-200%);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200%);
  }
}
